html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: green;

}

.header__bar.row {
  height: 100px;
  width: 100%;
  float: left;

}


.contents {
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

.grid-6 {
  float: left;
}

.user_nav.grid-6 {
  float: right;
}

.span {
  
}

li {
  float: left;

}
.post {
  float: left;
}

.more {
  

}

.name {

}

.more_list {

}

.field {
  height: 100px;
  width: 300px;
}


.content_post {
  height: 100%;
}


